body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
  padding: 0px;
}
#bloc_page {
  width: auto;
  margin-left: 2%;
  margin-right: 2%;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav ul{
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
nav li{
  float: left;
  list-style-type: none;
  margin-left: 50px;
}
nav a{
  display: inline-block;
  padding: 20px 15px;
  text-decoration: none;
  color: #000000;
}
nav a:hover{
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding: 18px 15px 18px 15px;
}
.inscription a{
  color: #0065fc;
  font-weight: bold;
 }
.btnRecherche {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 0px;
}
.btnRecherche, div{
 display: inline-block;
 height: 40px;
}
.btn1 {
  background-color: #0065fc;
  width: 150%;
  color: #ffffff;
  border-radius: 0px 15px 15px 0px;
  margin-left: -5px;
  height: 115%;
}
.btn1 i{
  display: none;
}
input {
  border: 1px solid #f2f2f2;
  height: 35px;
  margin-left: -5px;
  height: 100%;
}
.position{
  background-color: #f2f2f2;
  width: 8%;
  height: 80%;
  padding-top: 2%;
  border-radius: 15px 0px 0px 15px;
}
.position i{
  margin-left: 20px;
}
button {
  border-radius: 30px;
  height: 100%;
  width: 40%;
  background-color: #deebff;
  border: 1px solid #f2f2f2;
}
.animaux button{
  width: 25%;
}
button i {
  color: #0065fc;
}
button:hover {
  background-color: #0065fc;
}
button i:hover {
  color: #deebff;
}
div p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  width: 100%;
  height: 90%;
}
.sous_titre{
  margin-left: 0px;
  margin-top: 0px;
}
.filtres {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-left: 0px;
  margin-bottom: 0px;
}
.titre_filtre{
  margin-top: 25px;
  font-weight: bold;
  margin-left: -30px;
}
.animaux {
  width: 100%;
}
.infos {
  padding: 2px;
  border: 2px solid #f2f2f2;
  width: 1%;
  height: 40%;
  border-radius: 50px;
}
.infos i {
  padding-left: 4px;
  color: #0065fc;
}
.logement {
  display: flex;
  margin-bottom: 30px;
}
h5{
  margin-left: 15px;
}
#hebergements{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h3{
  margin-left: 50px;
  margin-top: 50px;
}
.hebergement{
  width: 65%;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 15px;
  margin-right: 30px;
}
.hebergement1{
  width: 25%;
  border-radius: 15px;
  background-color: #ffffff;
  margin-left: 50px;
  height: auto;
  margin-bottom: 35px;
}
.hebergement1 img{
  width: 97%;
  border-radius: 15px 15px 0px 0px;
  padding: 3px;
}
.hebergement1 p{
  font-weight: bold;
  margin-left: 15px;
  border: none;
  margin-top: 5px;
}
em{
  margin-left: 15px;
}
.hebergement1 div{
  margin-left: 15px;
}
.etoile{
  color: #0065fc;
}
.star{
  color: #f2f2f2;
}
.afficher{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  margin-left: 50px;
}
h3 i{
  float: right;
  margin-right: 25px;
}
.popu{
  margin-left: 20px;
}
.populaire{
  width: 35%;
  background-color: #f2f2f2;
  border-radius: 15px;
  height: auto;
}
.populaire1{
  display: flex;
  width: 85%;
  margin-left: 35px;
  margin-bottom: 40px;
  background-color: #ffffff;
  border-radius: 15px;
  height: auto;
}
.populaire1 img{
  width: 65%;
  height: 96%;
  border-radius: 15px 0px 0px 15px;
  padding: 3px;
}
.populaire1 p{
  border: none;
  margin-right: 60px;
}
.populaire1 div{
  margin-left: -60px;
}
.populaire1 b{
  margin-right: 60px;
}
.marseille{
  margin-left: 0px;
}
.activites{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
}
.activites b{
  margin-left: 25px;
}
.activity_marseille{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: 50%;
}
.activites1{
  width: 50%;
  border-radius: 15px;
  box-shadow: 10px 5px 5px #f2f2f2;
  height: 70%;
  margin-right: 30px;
}
.activites1 img{
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 90%;
 } 
 .activ{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  width: 50%;
}
.activites2{
  margin-right: 25px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px #f2f2f2;
  height: 50%;
}
.activites2 img{
  border-radius: 15px 15px 0px 0px;
  height: 80%;
  width: 100%;
}
.activites3{
  margin-right: 30px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px #f2f2f2;
  height: 40%;
} 
.activites3 img{
  border-radius: 15px 15px 0px 0px;
  height: 75%;
  width: 100%;
}
.activites4{
  border-radius: 15px;
  box-shadow: 10px 5px 5px #f2f2f2;
  height: 45%;
}
.activites4 img{
  border-radius: 15px 15px 0px 0px;
  height: 80%;
  width: 100%;
}
.activites5{
  border-radius: 15px;
  box-shadow: 10px 5px 5px #f2f2f2;
  height: 45%;
}
.activites5 img{
  border-radius: 15px 15px 0px 0px;
  height: 80%;
  width: 100%;
}
footer{
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 150px;
  margin-top: 100px;
  padding-bottom: 50px;
}
footer div{
  margin-right: 200px;
}
footer h3{
  margin-left: 40px;
}
 footer li{
  list-style-type: none;
  margin-top: 15px;
} 

@media all and (max-device-width: 480px) {
  #bloc_page{
    width: auto;
    height: auto; 
  }
  header{
    width: auto;
  }
  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #logo:nth-child(1){
    align-self: start;
  }
  .heberger{
    margin-top: 50px;
    margin-left: 0px;
  }
  .activity{
    margin-top: 50px;
    margin-right: 0px;
  }
  .activity a:hover{
    border-bottom: 2px solid #0065fc;
    border-top: none;
  }
  .heberger a:hover{
    border-bottom: 2px solid #0065fc;
    border-top: none;
  }
  .btnRecherche{
    margin-left: 15px;
  }
  .btn1 span{
    display: none;
  }
  .btn1{
    width: 50px;
    border-radius: 15px;
  }
  .btn1 i{
    display: inline;
    color: #ffffff;
  }
  .filtres{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
  }
  .filtres button{
    width: 25%;
  }
  .filtres div{
   margin-bottom: 20px;
   margin-left: 15px;
   width: 40%;
   height: 60px;
  }
  .economique{
    margin-right: 60px;
  }
  .famillial{
    margin-left: 250px;
    margin-top: -65px;
  }
  .romantique{
    margin-top: -65px;
  }
  .animaux{
    margin-top: -65px;
  }
  .famillial b{
    margin-right: 90px;
  }
  .romantique b{
    margin-right: 60px;
  }
  .animaux b{
    margin-right: 20px;
  }
  .titre_filtre{
    margin-left: 15px;
  }
  h4{
    margin-bottom: 10px;
  }
  .logement{
    margin-top: -65px;
  }
 #hebergements{
   display: flex;
   flex-direction: column-reverse;
  }
 .hebergement{
   background-color: #ffffff;
   width: auto;
  } 
 .hebergement1{
   flex-direction: column;
   width: 85%;
   margin-left: 55px;
   box-shadow: 10px 5px 5px #f2f2f2;
 }
 .hebergement1 img{
   width: 100%;
   height: 150px;
  }
  .hebergement1 div{
    display: flex;
    height: auto;
    margin-bottom: 10px;
  }
  .populaire{
   width: auto;
   border-radius: 0px;
  }
  .populaire1{
    width: 80%;
    margin-left: 55px;
  }
  .activites{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .activity_marseille{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
  }
  .activites1{
    width: 80%;
    margin-bottom: 50px;
    margin-left: 50px;
    height: 300px;
  }
  .activites1 img{
    height: 80%;
    margin-bottom: 20px;
  }
  .activ{
    width: 85%;
    margin-left: 50px;
  }
  .activites2{
    margin-bottom: 50px;
    height: 300px;
  }
  .activites2 img{
    margin-bottom: 20px;
  }
  .activites3{
    margin-bottom: 50px;
    width: 95%;
    height: 300px;
  }
  .activites3 img{
    margin-bottom: 20px;
    height: 80%;
  }
  .activites4{
    margin-bottom: 50px;
    width: 95%;
    height: 300px;
  }
  .activites4 img{
    margin-bottom: 20px;
  }
  .activites5{
    width: 95%;
    margin-bottom: 50px;
    height: 300px;
  }
  .activites5 img{
    margin-bottom: 20px;
  }
  footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
    margin-top: 20px;
    width: 540px;
  }
}