body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
  padding: 0px;
}
#bloc_page {
  width: 100%;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav ul {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
nav li {
  list-style-type: none;
  float: left;
}
nav a {
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  font-size: 1.1em;
  color: #000;
}
nav a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}
nav li:hover a {
  padding: 18px 30px;
}
#recherche {
  margin-left: 50px;
}
#logo {
  margin-left: 50px;
}
.inscription {
  font-weight: bold;
  color: #0065fc;
  margin-right: 30px;
}

h2 h3 {
  font-weight: bold;
  text-align: right;
}
.btnRecherche {
  display: flex;
  margin-left: 50px;
}
.btnRecherche div {
  height: 50px;
}
.btn1 {
  height: 49px;
  background-color: #0065fc;
  width: 150px;
  color: #ffffff;
  border: none;
  border-radius: 0px 15px 15px 0px;
}
input {
  height: 45px;
  border: 1px solid #f2f2f2;
}
.position i {
  font-size: 30px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 15px;
}
.position {
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  width: 50px;
}
button {
  border-radius: 30px;
  height: 40px;
  width: 30%;
  background-color: #deebff;
  border: 1px solid #f2f2f2;
}
button i {
  color: #0065fc;
}
button:hover {
  background-color: #0065fc;
}
button i:hover {
  color: #deebff;
}
div p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  width: 150px;
  height: 40px;
}
#filtres {
  display: flex;
  justify-content: space-between;
  width: 900px;
}
.animaux {
  width: 200px;
}
.filtres {
  align-items: center;
  font-weight: bold;
  border: none;
  width: 20px;
}
.infos {
  padding: 2px;
  border: 2px solid #f2f2f2;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  margin-left: 50px;
}
.infos i {
  padding-left: 4px;
  color: #0065fc;
}
.logement {
  display: flex;
  margin-top: none;
}
h5 {
  margin-left: 15px;
}
section {
  display: flex;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
 
}
article {
  margin-right: 40px;
  flex: 1;
  background-color: #f2f2f2;
  border-radius: 15px;
}

aside {
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 35%;
}
section .hebergements {
  display: inline-block
  
}
.hebergements {
  margin-left: 50px;
  margin-bottom: 30px;
  width: 25%;
  height: 30%;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
}
.hebergements img {
  width: 96%;
  height: 58%;
  padding: 3px;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
}
.hebergements p {
  margin-left: 15px;
  font-weight: bold;
  font-size: 14px;
  border: none;
}
.hebergements div {
  margin-left: 15px;
  margin-bottom: 80px;
}
em {
  font-style: normal;
  margin-left: 15px;
}
.afficher {
  font-weight: bold;
  margin-left: 50px;
  border: none;
  text-decoration: none;
  color: #000;
}
h3 {
  padding-top: 40px;
  margin-left: 50px;
}
span {
  font-weight: bold;
}
.etoile {
  color: #0065fc;
  margin-top: 0px;
}
.star {
  color: #f2f2f2;
  margin-top: 0px;
}
.populaire {
  display: flex;
  width: 85%;
  margin-left: 30px;
  margin-right: 15px;
  margin-top: 80px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
  height: 151px;
}
.populaire img {
  width: 145px;
  height: 145px;
  margin-bottom: 20px;
  border-radius: 10px 0px 0px 10px;
  padding: 3px;
}
.populaire p {
  border: none;
  font-size: 13px;
  margin-left: 50px;
}
.populaire .coeur {
  margin-left: 30px;
}

aside h2 {
  margin-left: 30px;
}
h3 > i {
  float: right;
  margin-right: 50px;
}

.titre {
  margin-left: 50px;
  font-weight: bold;
}
#Activités {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.div1, .div2{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.activité1{
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  width: 40%;
  height: 70%;
  box-shadow: 10px 5px 5px #f2f2f2;
 }
 .activité1 img{
   height: 90%;
 }
 .activité1 p{
   border: none;
   font-weight: bold;
   font-size: 11px;
   margin-top: 0px;
   margin-left: 15px;
  }
.activité2{
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 20px 20px;
  width: 40%;
}
.activité2 > div{
  border-radius: 20px 20px 20px 20px;
  box-shadow: 10px 5px 5px #f2f2f2;
  height: 30%;
  margin-bottom: 60px;
}
.activité2 img{
  height: 80%;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.activité2 p{
  font-weight: bold;
  border: none;
  font-size: 11px;
  margin-top: 0px;
  margin-left: 15px;
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
}
footer div li {
  list-style-type: none;
  margin-top: 15px;
}
footer div {
  margin-bottom: 50px;
}
footer h3 {
  margin-left: 40px;
}

 @medi all (min-width: 1024px) and (max-width: 1280px){
   
 }
@media all and (max-device-width: 480px) {
  #bloc_page{
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
  }
  header{
    width: auto;
  }
  #logo:nth-child(1){
    align-self: flex-start;
  }
  .activités a{
    display: flex;
    margin-left: 80px;
    float: right;
    position: absolute;
  }
  .activités a:hover{
    border-bottom: 2px solid #0065fc;
    border-top: none;
  }
  .hébergements a {
    display: flex;
    position: absolute;
   text-align: left;
   margin-left: -100px;
  }
  .hébergements a:hover{
    border-bottom: 2px solid #0065fc;
    border-top: none;
  }
  .inscription a{
    display: flex;
    margin-left: 120px;
    color: #0065fc;
  }
  nav ul{
    display: flex;
    flex-direction: column-reverse;
  }
  h2{
    margin-top: 80px;
    font-size: 20px;
  }
  h4{
    font-size: 14px;
  }
  .btnRecherche{
    width: auto;
  }
  .btn1{
    width: 70%;
    border-radius: 15px;
  }
  #filtres{
    flex-direction: column;
  }
  .famillial{
    display: flex;
    position: absolute;
    margin-left: 180px;
    margin-top: -60px;
  }
  .logement{
    margin-top: 0px;
  }
  #Hébergements{
    width: 100%;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  article{
    width: auto;
    background-color: #ffffff;
  }
  aside{
    width: 100%;
    padding-bottom: 30px;
    border-radius: 0px;
  }
  h3{
    margin-left: 20px;
  }
  .hebergements{
    flex-direction: column;
    width: 100%;
    height: 220px;
    margin-left: 20px;
  }
  .hebergements p{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .afficher{
    margin-left: 30px;
  }
  .titre{
    margin-left: 80px;
  }
  .populaire {
    width: auto;
    margin-top: 30px;
    margin-left: 15px;
  }
  .populaire p {
    margin-left: 0px;
    font-size: 13px;
  }
  .populaire .coeur{
    margin-left: 0px;
  }
 #Activités{
   display: flex;
   flex-direction: column;
   width: 100%;
  }
 .div1, .div2{
   display: flex;
   flex-direction: column;
   width: 100%;
  }
  .activité1{
   margin-left: 15px;
   width: 90%;
   margin-bottom: 50px;
} 
.activité2{
  margin-left: 15px;
  width: 90%;
}
footer{
    flex-direction: column;
    width: 100%;
    margin-left: 50px;
  }
}